* {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
body {
    padding: 0;
    margin: 0;
}
.container {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: auto 1fr;
}
.sidebar {
    background-color: #0ea5e9;
    display: grid;
    grid-template-rows: auto auto auto;
    gap: 5%;
    align-content: start;
    font-size: 22px;
    color: white;
    padding: 20px;
    font-weight: 600;
    grid-row: 1 / 3;
}
.sb2 > div, .sb1, .sb3 > div {
    display: flex;
}
.sb1 {
    font-size: 26px;
    align-items: center;
    gap: 10px;
}
.sb1 div:nth-child(1) {
    background-image: url(./ikonice/view-dashboard.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 50px;
    height: 50px;
}
.sbitem1 div:nth-child(1){
    background-image: url(./ikonice/home.png);
    
}
div[class^="sbitem"] div:nth-child(1) {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 30px;
    margin-right: 25px;
}
.sbitem2 div:nth-child(1){
    background-image: url(./ikonice/emoticon-cool-outline.png);
}

.sb2, .sb3 {
    display: grid;
    gap: 15px;
    margin-left: 10px;
}
.sb1 div:nth-child(2){
    position: relative;
    bottom: 2px;
}
.main {
    background-color: #f1f5f9;
}
.search {
    grid-row: 1;
    grid-column: 2;
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto auto;
    align-items: center;
    padding: 10px 50px;
    row-gap: 20px;
    box-shadow: 0px 2px 4px rgb(197, 193, 193);
    z-index: 30;
}
.searchbar {
    display: flex;
    gap: 15px;
}
.searchbar img {
    width: 24px;
    height: 24px;
    position: relative;
    top: 3px;
}
.searchbar input {
    width: 100%;
    appearance: none;
    border-radius: 14px;
    border: 1px;
    background-color: #f1f5f9;
    height: 30px;
}

.account {
    display: flex;
    grid-column: 2;
    grid-row: 1;
    align-items: center;
    justify-self: end;
    gap: 30px;
    font-weight: 600;
    font-size: 18px;
   

}
.account img:nth-child(2) {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.welcome img {
    width: 75px;
    height: 75px;
    border-radius: 50%;
}
.welcome div {
    display: flex;
    flex-direction: column;
    font-weight: 700;

}
.welcome2 div:nth-child(2) {
    font-size: 24px;
}
.welcome {
    display: flex;
    align-items: center;
    gap: 30px;
}
.buttons {
    display: flex;
    gap: 25px;
    justify-self: end;
}
.buttons div {
    border-radius: 20px;
    background-color: #0ea5e9;
    box-sizing: border-box;
    width: 100px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: 600;
    cursor: pointer;
}
.main {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto auto;
    padding: 30px 50px;
    row-gap: 40px;
}
.karte {
    grid-row: 1/3;
    grid-column: 1;
    display: flex;
    flex-direction: column;
}
.anoun {
    grid-row: 1;
    grid-column: 2;
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.trending {
    grid-row: 2;
    grid-column: 2;
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.card {
    display: flex;
    flex-direction: column;
}
.ikonice2 {
    display: flex;
    
}
.anoun2 {
    display: flex;
    flex-direction: column;
    padding: 30px 20px;
    justify-content: space-between;
    border-radius: 12px;
}

.trending2 {
    display: flex;
    flex-direction: column;
    padding: 20px 15px;
    border-radius: 12px;
    height: 100%;
}
.trending2 > div {
    display: flex;
    gap: 20px;
    
}

.anoun2{
    background-color: white;
    width: 350px;
    box-sizing: border-box;
    font-size: 13px;
    height: 100%;
}
.trending2 {
    background-color: white;
    justify-content: space-between;
}


.anoun > div:nth-child(1), .trending > div:nth-child(1), .karte > div:nth-child(1){
    font-size: 22px;
    font-weight: 580;
}
.bold {
    font-weight: 650;
}
.anoun2 > div:nth-child(2) {
    
    border-top: 1px solid rgb(190, 187, 187) ;
    border-bottom: 1px solid rgb(190, 187, 187);
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    
    justify-content: center;

}
.anoun2 > div {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    
    justify-content: center;
}
.trending2 img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.trending3 div:nth-child(2) {
    color: #898b8d;
}
.karte {
    gap: 25px;
}
.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: 40px;
}
.card {
    height: 270px;
    background-color: white;
    border-radius: 12px;
    justify-content: center;
    padding: 50px 25px;
    box-sizing: border-box;
    gap: 35%;
   
    border-left: 12px solid #dd8827;
    
}
.main {
    column-gap: 30px;
}
.ikonice2 {
    display: flex;
    justify-content: end;
    gap: 15px;
}

.text div:nth-child(1) {
    font-weight: 600;
    font-size: 18px;
}